@media screen and (max-width: 440px) {
  body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  .nav-header {
    justify-content: start;
  }
  .nav-list {
    display: none;
  }
  .nav-h3 {
    font-size: 2.7rem;
    font-family: "karla";
    font-weight: 700;
    white-space: nowrap;
  }

  .box-1 {
    background-color: rgb(255, 255, 255);

    color: rgb(0, 0, 0);
    display: flex;
    height: 65vh;
    width: 100vw;
    flex-direction: column;
  }
  .info-box {
    height: 65vh;
    width: 100vw;

    display: flex;
    padding-left: 0.5rem;
    padding-right: 0.6rem;
    flex-direction: column;
    justify-content: center;
  }
  div.info-box h1 {
    font-size: 5rem;
    font-family: Arial, Helvetica, sans-serif;
    align-self: start;
    font-weight: 600;
    display: none;
  }
  .info-para {
    width: fit-content;
    height: fit-content;
    align-self: start;
    font-size: 1.5rem;
    font-family: "karla", sans-serif;
    font-weight: 300;
    margin-top: 1rem;
  }
  .main-img {
    margin: 0;
    border-radius: 50%;
  }
  .connect-button {
    display: flex;
    column-gap: 2rem;

    width: 100vw;

    margin-top: 1rem;
    flex-wrap: wrap;
  }
  button {
    width: 10rem;
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ffffff7a;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
  }
  div.connect-button button img {
    width: 40px;
    height: 40px;
  }
  .box-2 {
    background: rgba(255, 255, 255, 0.484);
    height: fit-content;
    width: 100vw;
    padding-bottom: 2rem;
  }
  .box-2-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(0, 0, 0);
    padding-top: 12px;
  }
  .box-2-h2 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
  }

  .box-2-p {
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    font-family: Georgia, "Times New Roman", Times, serif;
    margin-top: 0.7rem;
  }
  .project-cards {
    display: flex;

    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
  }
  .card {
    background: rgb(0, 0, 0);

    backdrop-filter: blur(6px);
    width: 80vw;
    height: 47vh;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    align-items: center;
  }

  .project-img {
    width: 30vw;
    height: 50%;
    border-radius: 12px;
    object-fit: contain;
  }
  .card-para {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.485);
  }
  h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }

  div.card-para p {
    padding-left: 24px;
    font-size: 1.7rem;
    font-weight: 400;
    font-family: "karla", Times, serif;
  }
  div.card a {
    align-self: self-end;
    margin: auto;
  }
  div.card button {
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    font-size: 1rem;
  }
  .box-3 {
    height: fit-content ;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.496);
    padding: 0px;
    margin-top: 0rem;
  }
  div.box-3 h1 {
    text-align: center;

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
  }
  .skill-logo-main {
    display: flex;
    width: 90vw;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    column-gap: 1rem;
  }
  .skill-logo {

    display: flex;
    width: 40vw;
    height: 20vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 0;
    gap: 5px;
    margin-top: 1rem;
    margin: auto;
  }
  div.skill-logo img {
    width: 75px;
    height: 75px;
  }
  .box-4 {
    height: 80vh;
    width: 100vw;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px ;
  }
  label {
    font-size: 2rem;
    margin-top: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  input {
    margin-top: 0.7rem;
    width: 90%;
    height: 2rem;
    border-radius: 7px;
    padding: 0px 8px 0px 8px;
  }
  form button {
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    background: #000;
    margin-top: 0.7rem;
    color: #ffffff;
  }
  input:focus,
  textarea:focus {
    outline: 2px solid black;
  }

  #msg {
    margin-top: 0.7rem;
    height: 6rem;
    padding: 8px;
    width: 90%;
    border: 2px solid black;
    border-radius: 7px;
    resize: none;
  }
  #submit-button{
    width: 90%;
    display: flex;
    margin: 0px;
    justify-content: center;
    margin-top: 0.7rem;
}
}
